.register-control{
  margin-top: 10px!important;
   width: 450px !important;
   margin-bottom: 10px;
   padding: 50px!important;
   background-color: #fbe0d7!important;
   @media (min-width:0px) and (max-width:500px){
     width: 300px !important;
 
   }
  
 }
 .register-control:hover{
   box-shadow: 0px 0px 5px grey;
 }
 .form-group{
   background-color: #fbe0d7;
 }
 .form-control{
   margin-bottom: 20px!important;
   /* background-color: #fbe0d7; */
 }
 
 .btn1{
   background-color: #f87652!important;
   border: none;
  
 }
 
 /* .text-center{
   padding-bottom: 50px;
   font-size: 30px;
   font-weight: 700;
 } */
 
 .card{
   background-color: #fbe0d7;
   border: none;
   padding: 3px 0px 10px 0px;
   width: 900px;
   
 }
 .text-center{
   color: #f87652
 }
 .card-body{
   width: 400px;
 }
 